/* font-family: 'Lobster Two', cursive;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1rem;
    font-weight: 400;
    background: #F2F2F2;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}

input, 
input:active, 
input:focus,
textarea,
textarea:active,
textarea:focus {
    outline: none;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 6rem;
}

.logo{
    font-family: 'Lobster Two', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.nav-item{
    text-decoration: none;
    color: #000000;
    margin-right: 1.4rem;
}

.nav-item:hover{
    color: #F28177;
}

/* main */

.main{
    margin: 5rem 12rem;
}

.main-window-head{
    background: #F2CBC2;
    width: 100%;
    height: 4rem;
    border-radius: 2.4rem 2.4rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.name-column{
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-right: 8rem;
}

.last-name{
    margin-right: 0;
}

.center-part{
    width: 100%;
    display: flex;
}

.right-side{
    background: #F9B7B1;
    width: 20%;
    height: 36.5rem;
    border-radius: 0 0 0 2.4rem;
}

.find-form{
    padding-top: 2rem;
}

.input-name{
    margin-left: 1.7rem;
}

.find-input{
    width: 75%;
    height: 1.5rem;
    background: rgba(242, 209, 201, 0.68);
    border: none;
    border-radius: 2.4rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
}

input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6); 
}

input::-moz-placeholder{
    color: rgba(0, 0, 0, 0.6); 
}

.submit-btn{
    width: 3.5rem;
    height: 1.5rem;
    border: none;
    text-align: center;
    margin-left: 65%;
    background: rgba(242, 129, 119, 0.92);
    border-radius: 2.4rem;
}

.submit-btn:hover{
    cursor: pointer;
    background: #EF574A;
}

.center-side{
    width: 60%;
}

.text-part{
    background: #ffffff;
    width: 100%;
    height: 32.5rem;
    overflow: auto;
}

.load-more-btn{
    background-color: rgba(242, 203, 194, 0.6);
    border-radius: 1.4rem;
    width: 20%;
    height: 2rem;
    border: none;
    text-align: center;
    margin: 1rem 40%;
    cursor: pointer;
}

.load-more-btn:hover{  
    background-color: rgb(242, 203, 194);
}

.messages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.message{
    margin-bottom: 5%;
}

.edit-message{
    display: flex;
    align-items: center;
}

.message-container{
    display: flex;
    width: 21rem;
    min-height: 3rem;
    background: #F2F2F2;
    border-radius: 2rem 2rem 2rem 0;
    margin-left: 1.4rem;
    padding: 1rem;
    margin-bottom: 0.2rem;
}

.mine-message-container{
    border-radius: 2rem 2rem 0 2rem;
    margin-left: 0;
    margin-right: 1.4rem;
}

.others{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.mine{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit-btn{
    display: flex;
}

.edit-btn-item{
    margin-right: 0;
    margin-left: 0.5rem;
}

.mine-edit-btn-item{
    margin-right: 0.5rem;
    margin-left: 0;
}

.name-of-author{
    margin-left: 0.5rem;
}

.mine-name-of-author{
    margin-left: 50%;
    margin-right: 1.4rem;
}

.text-name-of-author{
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: 1.4rem;
}

.type-part{
    background: #F2CBC2;
    width: 100%;
    height: 4rem;
    display: flex;
}

.typing-text{
   width: 100%;
}


.textarea-message{
    overflow: hidden;
    width: 95%;
    height: 2rem;
    background: rgba(249, 190, 177, 0.85);
    border: none;
    margin: 1rem 1rem 1rem 1.8rem ;
    padding: 0.5rem;
    resize: none;
}

.send-btn{
    width: 4rem;
    height: 2rem;
    background: rgba(249, 190, 177, 0.85);
    border: none;
    display: flex;
    margin-top: 1rem;
    margin-right: 1.8rem;
    align-items: center;
    text-align: center;
}

.send-btn:hover{
    cursor: pointer;
    color: #F28177;
}

.left-side{
    background: #F9B7B1;
    width: 20%;
    height: 36.5rem;
    border-radius: 0 0 2.4rem 0;
}

.users{
    background: #F9BEB1;
    width: 100%;
    height: 3.5rem;
    text-align: left;
    margin-top: 0.3rem;
    /* padding-left: 1.2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.name-of-chat{
    margin-left: 1.2rem;
}

.chat-icon{
    margin-left: 0.3rem;
}

.online-icon{
    background: #F28177;
    border-radius: 50%;
    width: 0.4rem;
    height: 0.4rem;
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
}

.users:hover{
    background: #FBB4A4;
}
/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 6rem;
}

.author-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.author-link{
    text-decoration: none;
    color: #000000;
}

.author-link:hover{
    color: #F28177;
}

.date-was-made{
    /* margin-top: 3.2rem;
    margin-right: 0; */
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1100px){
    .find-input{
        margin-left: 1.5rem;
    }
    .message-container{
        margin-left: 0.2rem;
        width: 20rem;
    }
    .mine-message-container{
        margin-right: 0.2rem;
        width: 20rem;
    }
}

@media screen and (max-width: 992px){
    .find-input{
        margin-left: 1rem;
    }
    .message-container{
        margin-left: 0.2rem;
        width: 15rem;
    }
    .mine-message-container{
        margin-right: 0.2rem;
        width: 15rem;
    }
    .input-name{
        margin-left: 1rem;
    }
    .submit-btn {
        width: 35%;
        margin-left: 55%;
    }
    .mine-name-of-author {
        margin-left: 35%;
    }
    .load-more-btn {
        width: 30%;
        margin: 1rem 35%;
    }
}

@media screen and (max-width: 800px){
    .find-input{
        margin-left: 0.2rem;
    }
    .message-container{
        margin-left: 0.2rem;
        width: 10rem;
    }
    .mine-message-container{
        margin-right: 0.2rem;
        width: 10rem;
    }
    .input-name{
        margin-left: 0.2rem;
        text-align: center;
    }
    .submit-btn {
        width: 50%;
        margin-left: 25%;
    }
    .mine-name-of-author {
        margin-left: 35%;
    }
    .load-more-btn {
        width: 40%;
        margin: 1rem 30%;
    }
    .name-of-author {
        margin-left: -0.5rem;
    }
    .users{
        padding: 0.5rem;
    }
}

@media screen and (max-width: 768px){
    .right-side{
        display: none;
    }
    .left-side{
        display: none;
    }
}